*{
	padding: 0;
	margin: 0;

}
/*Background*/
.main{
width: 100%;
height: 100vh;
background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(backgrounds.jpg);
background-size: cover;

}
/*Menu*/
.menu{
	width: 1350px;
	height: 80px;
	margin-left: 35px;
	margin-right: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 25px;
	background-color: #023047;
}
/*Titre*/
.menu h2{
	font-family: arial;
	font-size: 30px;
	color: #ffb703;

}
/*La liste de menu*/
.main ul {
	
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;

}
/*Les eléments de la liste*/
.main ul li a{
color:#219ebc;
font-family:arial;
list-style: none;
margin-right: 50px;
font-weight: bold;
cursor: pointer;
text-decoration: none;

}


ul li a:hover{
	color:#fb8500 ;
}
/*Bouton numero de télephone*/
.btn {
	width: auto;
	height: 50px;
	border-radius: 40px;
	font-size: 20px;
	justify-content: center;
	align-items: center;
	background-color:white;
	color: #50C878;
}
.btn:hover{
	background-color: #50C878;
	color:white;
}
/*Le contenue*/
.content
{
	width: 1200px;
	height: 100vh;
	
	margin: auto;
}
/*Titre de paragraphe*/
.content h1{
	font-family: arial;
	font-weight: bold;
	color:#ffb703;
	font-size: 50px;
	padding-top: 100px; 
}
.content h4{
	font-family: arial;
	font-weight: bold;
	color:#ffb703;
	font-size: 20px;
	padding-top: 20px; 
}

html,body {
	width: 100%;
	height: 100%;
	margin: 0;	
}
.background {
	width: 100%;
height: 20vh;
background-color: #023047;
background-size: cover;

}
.contentinput{
	margin-left: 5000px;
}
.content input {
height: 30px;
border-color: #80c3f0 ;
padding-left: 30px;
padding-top: 0;
outline: none;
font-size: 1.5rem;
border-radius: 20px;
background-color: #d7effc;
}
.content textarea {
	width: 500px;
height: 175px;
border-color: #80c3f0 ;
padding-left: 30px;
padding-top: 0;
outline: none;
font-size: 1.5rem;
border-radius: 20px;
background-color: #d7effc;
}
.bouton{
	height: 30px;
	border-radius: 10px;
	font-size: 18px;
	justify-content: center;
	align-items: center;
	background-color: #d7effc;
	color: #ffb703;
	margin-top: 20px;
}
.bouton:hover{
	background-color: #ffb703;
	color:white; 

}
.bouton2{
	height: 30px;
	border-radius: 10px;
	font-family: arial;
	font-size: 18px;
	justify-content: center;
	align-items: center;
	background-color: #d7effc;
	color: black;
	margin-top: 0px;
}
.bouton2:hover{
	background-color: #ffb703;
	color:white; 

}
.a input{
		width: 500px;
height: 175px;
border-color: #80c3f0 ;
padding-left: 30px;
padding-top: 0;
outline: none;
font-size: 1.5rem;
border-radius: 20px;
background-color: #d7effc;
}
.paragraphe p{
color: white;
padding-top: 100px;
font-size: 100px;

}